<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <title>Item Catalog</title>
</head>
<body>
    <header class="header">
        <a href="{{url_for('index')}}">Catalog App</a>
        {% if not status %}
        <a href="{{url_for('showLogin')}}" class="login">Login</a>
        {% else %}
        <a href="{{url_for('showLogin')}}" class="login">Logout</a>
        {% endif %}
    </header>
    <div class="content_body_1">

        <section class="content_body_2">
            <div class="category">
                <span>Edit Item</span>
                <form action="{{url_for('edit_item', item_title=item_title, item = item )}}" method = 'POST'>

                    <p>Title:</p>
                    <input type='text' size='30' name='title' value="{{item.title}}">

                    <p>Description:</p>
                    <input type='text' size='30' name='description' value="{{item.description}}">

                    <p>Category:</p>
                    <select name="category">
                        {% for i in categories %}

                        <option value ="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                    <input type='submit' value='Edit'>

                </form>
            </div>
        </section>

    </div>



</body>
</html>