<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <title>Item Catalog</title>
</head>
<body>
    <header class="header">
        <span>Catalog App</span>
        <button class="login">Login</button>
    </header>
    <main>

        <section class="content_body">
            <div class="category">
                <span>Catagories</span>
                {% for i in categories %}
                <div>
                    <p>{{i.name}}</p>
                </div>
                {% endfor %}
            </div>

            <div class="latest">
                <span>Latest Items</span>
                {% for i in items %}
                <div>
                    <p>{{i.title}}</p>
                </div>
                {% endfor %}
            </div>
        </section>

    </main>



</body>
</html>