<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>{{restaurant.name}}</h1>

    <a href="{{url_for('new_Menu_Item', restaurant_id = restaurant.id) }}">New</a></br>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% for i in items %}

    <div>

    <p>{{i.name}}</p>

    <p>{{i.description}}</p>

    <p> {{i.price}} </p>

    <a href="{{url_for('edit_Menu_Item', menu_id = i.id, restaurant_id = restaurant.id) }}">Edit</a></br>
    <a href = "{{url_for('delete_Menu_Item', restaurant_id = restaurant.id, menu_id = i.id ) }}">Delete</a>
    </div>


    {% endfor %}
</body>

</html>