<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Item Catalog</title>
</head>
<body>
    <header class="header">
        <span>Catalog App</span>
        <button class="login">Login</button>
    </header>
    <main>

        <section class="content_body">
            <div class="category">
                <span>Catagories</span>
            </div>

            <div class="latest">
                <span>Latest Items</span>

            </div>
        </section>

    </main>



</body>
</html>